{% extends "base.html" %}
{% block content %}

<h2>About Me</h2>
<p>
I am a Python Developer and Data Analyst with hands-on experience working in ITI Limited,
where I developed real-world applications such as a PF Management System and an IT Asset Management System.
I specialize in Python, Flask, SQL, Analytics, and MIS reporting.
</p>

<h3>Skills.....</h3>
<ul>
  <li>Python, Flask, Django</li>
  <li>MySQL, PostgreSQL</li>
  <li>HTML, CSS, JavaScript</li>
  <li>Power BI, Advanced Excel</li>
  <li>Pandas, Matplotlib</li>
</ul>

{% endblock %}
