{% extends "base.html" %}
{% block content %}

<div class="text-center mt-5">
    <h1 class="fw-bold">Hi, I am <span class="text-primary">Harshitha S</span></h1>
    <h4 class="mt-3">Python Developer | Data Analyst</h4>
    <p class="mt-3">I build web applications using Flask, MySQL and create data-driven solutions using Python and Power BI.</p>

    <a href="/projects" class="btn btn-primary mt-4">View My Projects</a>
    <a href="/contact" class="btn btn-outline-dark mt-4">Contact Me</a>
</div>

{% endblock %}
